* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

body{
    background-color: rgb(249,245,239);
}

header{
    height: 75px;
    width: 100%;
    background-color: rgb(233,230,225);
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}
.top-start{
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.dropdown{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.dropbtn a{
    color: rgb(141,168,163);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
li,
ul{
    list-style-type: none;
}

.top-end{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.search{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 25px;
    border-radius: 25px;
    background-color: #f2f4f8;
    border-color: black;
}
.search-box{
    border: 0;
    background-color: #f2f4f8;
    border-radius: 20px;
    width: 75%;
    outline: none;
    font-size: 16px;
}
.search-icon{
    border: 0.5px solid #f2f4f8;
    width: 25%;
    border-radius: 25px;
}


.qa-icon{
    width: 200px;
    position: relative;
    margin-top: 80px;
    margin-left: 650px;
}


/* 常見問題 */
.container {
    width: 700px;
    margin: 100px auto;
    margin-top: 10px;
    box-shadow: 0 0 8px rgba(161, 161, 161, 0.3);
}

.question{
  padding: 10px;
  cursor: pointer;
  background-color: rgb(141,168,163);
  color: #fff;
  font-size: 16px;
  position: relative;
  &::after {
      content: '';
      width: 6px;
      height: 6px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      top: 17px;
      right: 20px;
      transform: rotate(135deg);
      transition: all 0.5s;
  }
  &:hover {
      background-color: rgb(108, 155, 155);
  }
}

.arrow-rotate {
  &::after {
    transform: rotate(-45deg);
  }
}

.answer{
  max-height: 0;
  padding: 0 10px;
  overflow: hidden;
  border: 1px solid rgba(92, 144, 145, 0.3);
  background-color: #fff;
  font-size: 14px;
  transition: max-height 0.5s ease-out;
  p {
      margin: 10px 0;
      color: rgb(141,168,163);
      background-color: #fff;
  }
}


/* footer */
footer{
    width: 100%;
    height: 275px;
    position: relative;
    background-color: rgb(134,157,157);
    display: flex;
    justify-content: start;
}

.all{
    width: 80%;
    height: 275px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.information{
    color: rgb(216,216,205);
    height: 200px;
}

.links, .smthing{
    color: rgb(216,216,205);
    height: 200px;
    width: 300px;
}

.social{
    color: rgb(216,216,205);
    height: 200px;
    width: 175px;
}

.links a{
    color: rgb(216,216,205);
    font-size: 16px;
    text-decoration: none;
}
