body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

body {
    background-image: url('../img/welcome.jpg');
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0; 
    position: relative; 
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.text {
    color: whitesmoke;
    h1 {
        width: 100%;
        margin-top: 175px;
        font-size: 68px;
    }
    p{
        font-size: 20px;
    }
}


.welcome-btn{
    margin-top: 50px;
    width: 150px;
    height: 46px;
    background: #eeeeeeba;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    font-size: 24px;
}

a{
    text-decoration: none;
    text-align: center;
    color: rgb(85, 123, 116);
}