@charset "UTF-8";
body{
    padding: 0;
    margin: 0;
    border: 0;
}

header{
    height: 75px;
    width: 100%;
    background-color: rgb(233,230,225);
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}
.top-start{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.dropdown{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.dropbtn a{
    color: rgb(141,168,163);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
li,
ul{
    list-style-type: none;
}


.top-end{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.search{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 25px;
    border-radius: 25px;
    background-color: #f2f4f8;
    border-color: black;
}
.search-box{
    border: 0;
    background-color: #f2f4f8;
    border-radius: 20px;
    width: 75%;
    outline: none;
    font-size: 16px;
}
.search-icon{
    border: 0;
    width: 20%;
    border-radius: 25px;
}
